<h1>Categories</h1>
<%- if @categories.empty? -%>
  <p><em>No categories have been created yet.</em></p>
<%- else -%>
  <br />
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody id="catlist">
      <%= render :partial => 'categories_tree' -%>
    </tbody>
  </table>
<%- end -%>
<br />
<%= link_to 'New Category', new_category_path -%>